.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-color);
  padding-top: 60px; /* Same as header height */
}

.main {
  flex: 1;
  padding: var(--spacing-4);
  margin-bottom: 60px; /* Height of the footer */
  max-width: 100%;
  overflow-x: hidden;
  min-height: calc(100vh - 120px); /* viewport height - (header + footer) */
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.main.shifted {
  margin-left: 250px; /* Width of sidebar */
}

@media (max-width: 768px) {
  .main.shifted {
    margin-left: 0;
  }
}
