.layout {
  min-height: 100vh;
  background-color: var(--bg-color);
  position: relative;
}

.main {
  padding-bottom: 56px; /* Height of bottom navigation */
  min-height: 100vh;
  background-color: var(--bg-color);
  width: 100vw;
}

.main.fullscreen {
  padding: 0;
  background-color: black;
}

/* For desktop screens */
@media (min-width: 1024px) {
  .main {
    padding-bottom: 0;
  }

  .main.fullscreen {
    margin-left: 0;
  }
}
